@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

* {
    background-color: #526f78;
    color: #f3f3f3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
    font-family: 'turret road', sans-serif;
    font-size: 10px;
    line-height: 1.5;
}

.title {
    font-size: 6rem;
    font-weight: 900;
    text-align: center;
}

.titleDescription {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 4rem;
}

.ruleContainer {
    display: flex;
    justify-content: center;
    width: 60vw;
    padding: 10px 0;
    margin: auto;
    border-radius: 15px;
    border: 3px solid #00e125
}

.rulesDecription {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    line-height: 2;
}

.rulesDecription:hover {
    cursor: pointer;
}

.rules {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    list-style: none;
    border-bottom: 1px solid #fae900;
    line-height: 2.5;
}

.scoreContainer {
    display: flex;
    justify-content: space-around;
    margin: 4rem auto;
}

.score {
    font-size: 3rem;
    font-weight: 700;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionsContainer h3 {
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    padding-bottom: 3rem;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 70vw;
}

.option {
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #00e125;
    color: #526f78;
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    margin: 15px 0;
}

#resultsMessage {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 15px 0;
}

#winnerMessage {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 15px 0;
}

.button {
    display: none;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #00e125;
    color: #526f78;
    width: 30rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 700;
}